<form class="form" [formGroup]="form" (ngSubmit)="update()">
  <section class="form-section-person">
    <h2>Владелец</h2>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input matInput formControlName="aLastName">
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Имя</mat-label>
        <input matInput formControlName="aFirstName">
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Отчество</mat-label>
        <input matInput formControlName="aMiddleName">
      </mat-form-field>
    </div>
  </section>

  <section class="form-section">
    <div class="form-title">
      <div>
        <h2>Автомобили</h2>
      </div>

      <div>
        <button
          mat-flat-button
          type="submit"
          class="btn"
          [disabled]="form.invalid"
        >
          <span class="material-icons">save</span>Обновить
        </button>
        <button mat-flat-button [routerLink]="['/']">
          <span class="material-icons">arrow_back</span> Назад
        </button>
      </div>
    </div>

    <div class="aCars" formArrayName="aCars" *ngFor="let cars of cars.controls; let i = index">
      <div class="form-cars-wrapper" [formGroupName]="i">
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label>Номер</mat-label>
            <input matInput formControlName="number">
          </mat-form-field>
        </div>
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label>Марка</mat-label>
            <input matInput formControlName="brand">
          </mat-form-field>
        </div>
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label>Модель</mat-label>
            <input matInput formControlName="model">
          </mat-form-field>
        </div>
        <div class="form-control">
          <mat-form-field appearance="fill">
            <mat-label>Select me</mat-label>
            <mat-select formControlName="year">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-control">
          <button class="btn-remove" mat-flat-button (click)="removeCar(i)">
            <span class="material-icons">delete</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</form>


