/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --bg-color: #f2f2f2;
  --main-color: #2196f3;
  --btn-text-color-enable: #eceafb;
  --error-color: #ff3727;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 1.5rem;
}

.form {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.form-section-person {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.form-control {
  margin: 1rem .5rem 0;
  .mat-form-field {
    width: 140px;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 0 .25em;
  }
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    text-align: center;
    button {
      width: 8rem;
      margin: .5rem;
      height: 2.5rem;
    }
  }


}

.form-cars-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .btn-remove {
    background-color: var(--main-color);
    color: var(--btn-text-color-enable);
    height: 3.7rem;
    margin-bottom: .5rem;
    margin-top: -1rem;
  }
}


.form-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 920px) {
  .form {
    flex-direction: column;
  }

}

@media (max-width: 705px) {
  .aCars {
    border-top: 1px solid var(--main-color);
    &:last-child {
      border-bottom: 1px solid var(--main-color);

    }
  }
}


@media (max-width: 630px) {
  h2 {
    margin: 1rem 1rem 0;
  }
  .form-section-person {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .form-cars-wrapper {
    justify-content: normal;

  }
  .form-title {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .form-cars-wrapper {
    justify-content: center;

  }
  .form-title {
    flex-direction: column;
  }
}
